[bumpversion]
current_version = 0.0.1
commit = True
tag = True

[bumpversion:file:mix.exs]
search = version: "{current_version}"
replace = version: "{new_version}"

[bumpversion:file:README.md]
search = {{:cc_statemachine, "~> {current_version}"}}
replace = {{:cc_statemachine, "~> {new_version}"}}

